<h2>Audit</h2>
<%= render partial: 'sub_heading' %>
<div class="row">
  <%= link_to 'Back', [:admin, 'audits'] %>
</div>

<div class="row">
  <div class="col-sm-12">
    <h4><%= @model.action %> - <%= @model.auditable_type %></h4>
    <hr />

    <dl>
    <%- if @model.auditable_type == 'Setting' %>
      <dt>Setting Name</dt>
      <dd><%= @model.auditable.var %></dd>

      <%- change_name =  @model.audited_changes.keys.first %>
      <%- change = @model.audited_changes[change_name] %>
      <dd><%= change_name %></dd>
      <dt>Old Value</dt>
      <dd><%= change[0] %></dd>
      <dt>New Value</dt>
      <dd><%= change[1] %></dd>
    <%- else %>
      <dt>Audited Changes</dt>
      <dd><%= @model.audited_changes %> </dd>
    <%- end %>
    </dl>
    <h5>User who performed change</h5>
    <dl>
      <dt>Username</dt>
      <dd><%= @model.user.username %></dd>
      <dt>Email</dt>
      <dd><%= @model.user.email %></dd>
    </dl>
  </div>
</div>
<hr />
<h4>Complete Record</h4>
<div class="row">

  <div class="col-sm-12">
    <dl>
      <%- model_attributes.each do |attribute| %>
        <dt><%= attribute %></dt>
        <dd>
          <%- data = @model.send(attribute) %>
          <%- if data.is_a? ActiveRecord::Associations::CollectionProxy %>
            <ul>
              <%-data.each do |row| %>
                <li><%= row %></li>
              <%- end %>
            </ul>
          <%- else %>
          <%= data %>
          <%- end %>
        </dd>
      <%- end %>
    </dl>
  </div>
</div>

<% begin %>
  <hr />
  <div class="row">
    <%= render partial: 'show' %>
  </div>
<% rescue ActionView::MissingTemplate %>
<% end %>

