<h2><%= t('.title', resource: resource.model_name.human) %></h2>

<%= settings_row("Account", "Your registered account details") do %>
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%- if Setting.permanent_email %>
          <%= f.email_field :email, autofocus: true, disabled: true %>
          <%= f.text_field :name, disabled: true %>
        <%- else %>
          <%= f.email_field :email, autofocus: true %>
          <%= f.text_field :name %>
        <%- end %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <%= f.password_field :password, autocomplete: "off", help: "Leave blank if you don't want to change your password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
      <%= f.password_field :current_password, autocomplete: "off", help: "We need your current password to confirm your changes to update your account details" %>
      <%= f.submit t('devise.registrations.update') %>
    <% end %>
  <% end %>
  <hr>
  <%= settings_row("Device based two factor", "Use your phone or other device for token based two factor authentication", id: "two-factor") do %>
    <%- if current_user.two_factor_otp_enabled? %>
      <%= link_to _('Manage 2FA'), new_user_2fa_registration_path, class: 'btn btn-success' %>
    <%- else %>
      <%= link_to _('Enable 2FA'), new_user_2fa_registration_path, class: 'btn btn-success' %>
    <%- end %>
  <% end %>
  <hr>
  <%= settings_row("FIDO U2F Devices", "Your registered FIDO U2F devices for a more secure authentication with a second factor", id: "fido-usf-devices") do %>
    <%= render partial: 'devise/registrations/fido_usf_devices' %>
  <% end %>
  <hr>
  <%= settings_row("Remove Account", "", decorate: "text-danger") do %>
    <p>Unhappy? If you remove your account all your data will be <strong>permanently</strong> lost. </p>
    <p><%= button_to t('devise.registrations.remove_account'), registration_path(resource_name), class: "btn btn-danger", data: { confirm: "Are you sure?" }, method: :delete %></p>
<% end %>

