<h1>Dashboard</h1>

<div class="row">
  <div class="col-12">
    <div class="card card-body">
      <h5 class="card-title">Login rate</h5>
      <%= line_chart Login.group_by_day(:created_at).count %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Weekly Stats</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <h5 class="card-title">Top applications by login</h5>
      <table class="table">
      <%- logins_by_app.each do |app, count| %>
        <tr>
          <td><%= link_to app.name, [:admin, app] %></td>
          <td><%= count %></td>
        </tr>
      <%- end %>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-body">
      <h5 class="card-title">Top user by login</h5>
      <table class="table">
      <%- logins_by_user.each do |user, count| %>
        <tr>
          <td><%= link_to user.username, [:admin, user] %></td>
          <td><%= count %></td>
        </tr>
      <%- end %>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <h2>Account Activity</h2>

    <p>The 50 most recent accesses made are shown here.</p>

    <p>This includes authentication requests made by other sites and devices. </p>

    <table class="table table-striped">
      <tbody>
        <%- @logins.each do |login| %>
        <tr>
          <%- sp = login.service_provider %>
          <% if sp.kind_of? Doorkeeper::Application %>
            <%- sp = Application.find(sp.id) %>
          <%- end %>
          <% name = sp.try(:name) || sp.to_s %>
          <% url = sp.display_url || sp.to_s %>
          <td><%= link_to name, url %></td>
          <td><%= link_to login.user.username, [:admin, login.user] %></td>
          <td><%= login.auth_type %></td>
          <td><%= login.created_at.to_formatted_s(:long) %></td>
        </tr>
        <%- end %>
      </tbody>
    </table>
  </div>

</div>