<h1>Dashboard</h1>

<div class="row">
  <div class="col-md-3 col-xs-4">
    <div class="card" style="height: 100%;">
      <div class="card-body">
        <h5 class="card-title">
        <%= User.count %> Total Users</h5>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-4">
    <div class="card" style="height: 100%;">
      <div class="card-body">
        <% current = Login.where('created_at > ?', 30.days.ago).distinct.pluck(:user_id).count %>
        <% previous = Login.where('created_at > ? AND created_at <= ?', 60.days.ago, 30.days.ago).distinct.pluck(:user_id).count %>
        <h5 class="card-title"><%= current %> Active Users</h5>
        <%- if current > previous %>
          <%= fa_icon 'chevron-up' %>
        <%- elsif current < previous %>
          <%= fa_icon 'chevron-down' %>
        <%- end %>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-4">
    <div class="card" style="height: 100%;">
      <div class="card-body">
        <% current = Login.where('created_at > ?', 30.days.ago).count %>
        <% previous = Login.where('created_at > ? AND created_at <= ?', 60.days.ago, 30.days.ago).count %>
        <h5 class="card-title"><%= current %> SSO Logins</h5>
        <%- if current > previous %>
          <%= fa_icon 'chevron-up' %>
        <%- elsif current < previous %>
          <%= fa_icon 'chevron-down' %>
        <%- end %>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-xs-4">
    <div class="card" style="height: 100%;">
      <div class="card-body">
        <% current = User.where('created_at > ?', 30.days.ago).count %>
        <% previous = User.where('created_at > ? AND created_at <= ?', 60.days.ago, 30.days.ago).count %>
        <h5 class="card-title"><%= current %> New Users</h5>
        <%- if current > previous %>
          <%= fa_icon 'chevron-up' %>
        <%- elsif current < previous %>
          <%= fa_icon 'chevron-down' %>
        <%- end %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class=" card-body"?>
        <h5 class="card-title">Logins over the last year</h5>
        <div id="cal-heatmap" style="top: 0; right: 0; overflow-x: scroll; width: 100%;"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h2>Weekly Stats</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
      <h5 class="card-title">Top applications by login</h5>
      <table class="table">
      <%- logins_by_app.each do |app, count| %>
        <tr>
          <%- if app.is_a? Doorkeeper::Application %>
            <td><%= link_to app.name, admin_application_path(app) %></td>
          <%- else %>
            <td><%= link_to app.name, [:admin, app] %></td>
          <%- end %>
          <td><%= count %></td>
        </tr>
      <%- end %>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card card-body">
      <h5 class="card-title">Top user by login</h5>
      <table class="table">
      <%- logins_by_user.each do |user, count| %>
        <tr>
          <td><%= link_to user.username, [:admin, user] %></td>
          <td><%= count %></td>
        </tr>
      <%- end %>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12">
    <h2>Account Activity</h2>

    <p>The 50 most recent accesses made are shown here.</p>

    <p>This includes authentication requests made by other sites and devices. </p>

    <table class="table table-striped">
      <tbody>
        <%- @logins.each do |login| %>
        <tr>
          <%- sp = login.service_provider %>
          <% name = sp.try(:name) || sp.to_s %>
          <%- if sp.is_a? Doorkeeper::Application %>
            <td><%= link_to sp.name, admin_application_path(sp) %></td>
          <%- else %>
            <td><%= link_to sp.name, [:admin, sp] %></td>
          <%- end %>
          <td><%= link_to login.user.username, [:admin, login.user] %></td>
          <td><%= login.auth_type %></td>
          <td><%= login.created_at.to_formatted_s(:long) %></td>
        </tr>
        <%- end %>
      </tbody>
    </table>
  </div>

</div>
<%- content_for :local_js do %>
<script type="text/javascript">
  <% logins = Login.where('created_at > ?', 12.months.ago).group_by_day(:created_at).count %>
  <% max = logins.values.max || 0 %>
  var cal = new CalHeatMap();
  cal.init({
    domain: "month",
    subDomain: "day",
    range: 12,
    data: <%= raw logins.map{ |date, count| [date.to_time.to_i, count] }.to_h.to_json %>,
    start: new Date(<%= 12.months.ago.to_time.to_i * 1000 %>),
    // domainMargin: 2,
    cellPadding: 3,
    legendColors: ["#efefef", "steelblue"],
    itemName: ["login", "logins"],
    considerMissingDataAsZero: true,
    tooltip: true,
    legend: [0, <%= max * 0.25 %>, <%= max * 0.5 %>, <%= max * 0.75 %>, <%= max %>, <%= max * 1.25 %>]
  });
</script>
<%- end %>
