<td class="<%= attr_name.gsub(/[^\w\s]/, '') %>">
  <%- data = model.send(attr_name) %>
  <%- if data.is_a? ActiveRecord::Associations::CollectionProxy %>
    <%- data =  data.join ", " %>
  <%- end %>
  <%- if data.present? && attr_name == 'image_url' %>
  <%= image_tag data, size: 25 %>
  <%- elsif data.is_a? TrueClass %>
    <%= fa_icon 'check', class: 'green' %>
  <%- elsif data.is_a? FalseClass %>
  <%= fa_icon 'times', class: 'red' %>
  <%- else %>
  <%= data %>
  <% end %>
</td>
