<p id="notice"><%= notice %></p>

<h1><%= @models.klass.name.pluralize %></h1>

<table>
  <thead>
    <tr>
      <%- @models.attribute_names.each do |attr_name| %>
        <th><%= attr_name %></th>
      <%- end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <%- @models.attribute_names.each do |attr_name| %>
          <td><%= model.send(attr_name.to_sym) %></td>
        <%- end %>
        <td><%= link_to 'Show', [:admin, model] %></td>
        <td><%= link_to 'Edit', ['edit', :admin, model] %></td>
        <td><%= link_to 'Destroy', [:admin, model], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New #{@models.klass.name}", ['new', :admin, @models.klass.name.underscore] %>
