<h1><%= @models.klass.name.pluralize %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <%- model_attributes.each do |attr_name| %>
        <th><%= attr_name %></th>
      <%- end %>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @models.each do |model| %>
      <tr>
        <%- model_attributes.each do |attr_name| %>
          <td>
            <%- data = model.send(attr_name) %>
            <%- if data.is_a? ActiveRecord::Associations::CollectionProxy %>
              <%= data.join ", " %>
            <%- else %>
              <%= data %>
            <%- end %>
          </td>
        <%- end %>
        <td><%= link_to 'Show', [:admin, model] %></td>
        <td><%= link_to 'Edit', ['edit', :admin, model] %></td>
        <td><%= link_to 'Destroy', [:admin, model], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @models, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>

<%= link_to "New #{@models.klass.name}", ['new', :admin, @models.klass.name.underscore] %>
