<div class="row justify-content-center">
  <div class="col-12 col-md-4">
    <h2><%= t('.log_in') %></h2>

    <%- resource_params = params[resource_name].presence || params %>
    <%- redirect_to = params.fetch(:redirect_to, nil) %>
    <% if @user.two_factor_otp_enabled? %>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), method: :post, html: { class: "edit_user gl-show-field-errors js-2fa-form" }) do |f| %>
        <%= f.hidden_field :remember_me, value: resource_params.fetch(:remember_me, 0) %>
        <%- if redirect_to %>
          <%= hidden_field_tag :redirect_to, redirect_to %>
        <%- end %>
        <div class="form-group">
          <%= f.label 'Two-Factor Authentication code', name: :otp_attempt %>
          <br />
          <%= f.text_field :otp_attempt, required: true, autofocus: true, autocomplete: 'one-time-code', title: 'This field is required.', data: { qa_selector: 'two_fa_code_field' }, pattern: "[a-zA-Z0-9]+" %>
          <p class="form-text text-muted hint">Enter the code from the two-factor app on your mobile device. If you've lost your device, you may enter one of your recovery codes.</p>
          <div class="prepend-top-20">
            <%= f.submit "Verify code", class: "btn btn-primary", data: { qa_selector: 'verify_code_button' } %>
          </div>
        </div>
      <% end %>
    <% end %>

    <% if @user.two_factor_u2f_enabled? || @user.two_factor_webauthn_enabled? %>
    <h2>Authenticate key</h2>
    <div class="alert alert-warning" style="display: none" id="auth-error">
      <p><%= _('Authentication error') %></p>
    </div>
    <button class="btn btn-success" id="run_webauthn" autofocus>Use security token</button>
    <p id="description" class="d-none">Please insert one of your registered keys and press the button within 15 seconds</p>
    <p id="waiting" class="d-none">Waiting...</p>
    <p id="error" class="d-none"></p>
    <%= form_tag send("new_user_session_path"), method: 'post' do %>
      <%= hidden_field_tag 'user[device_response]' %>
      <%= hidden_field_tag 'user[remember_me]', resource_params.fetch(:remember_me, 0) %>
      <%- if redirect_to %>
        <%= hidden_field_tag 'redirect_to', redirect_to %>
      <%- end %>
    <% end %>
  </div>
</div>

<% end -%>
<%- if @options %>
<script type="text/javascript">
var options = <%= @options.to_json.html_safe %>;
var remember_me = <%= resource_params.fetch(:remember_me, 0) %>;
</script>
<%- end %>
<%= javascript_include_tag 'new_webauthn', type: 'module' %>
