<% provide(:title, t('site.page.register_2fa')) -%>
<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="jumbotron col-12">
      <h3><%= t('site.page.register_2fa') %></h3>
      <p>After you registered a FIDO U2F device for authentication, you are not able to login only with your account's password.
      You always need your second factor, the FIDO U2F device, to authenticate yourself.</p>
      <p>It is always a good idea to register at least two FIDO U2F devices. One for your daily usage and another one as a backup device which you keep in a secure location like a safe.</p>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-7">
      <div id="waiting" class="card">
        <div class="card-header">
          FIDO U2F Registration
        </div>
        <div class="card-body">
          <p class="card-text">Please insert your FIDO U2F device and press its button within 15 seconds...</p>
          <%= form_with id: "form-register", url: user_fido_usf_registration_path() do |f| %>
            <%= text_field_tag :name, nil, placeholder: "Device Name" %>
            <%= f.hidden_field :response %>
          <% end %>
          <%= link_to 'Cancel', edit_user_registration_path(), class: "btn btn-secondary" %>
        </div>
      </div>
      <div id="error" class="d-none card border-danger">
        <div class="card-header">
          FIDO U2F Registration Error
        </div>
        <div class="card-body">
          <p id="error-text" class="card-text text-danger">None</p>
          <%= link_to 'Cancel', edit_user_registration_path(), class: "btn btn-secondary" %>
          <%= link_to 'Try again', new_user_fido_usf_registration_path(), class: "btn btn-primary" %>
        </div>
      </div>
      <div id="success" class="d-none card border-success">
        <div class="card-header">
          FIDO U2F Registration Success
        </div>
        <div class="card-body" id="success-text">
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_tag nonce: true do -%>
  var appId = <%= @app_id.to_json.html_safe %>;
  var registerRequests = <%= @registration_requests.to_json.html_safe %>;
  var signRequests = <%= @sign_requests.to_json.html_safe %>;
  var $waiting = document.getElementById('waiting');
  var $error = document.getElementById('error');
  var $back = document.getElementById('back');
  var $error_text = document.getElementById('error-text');
  var $success = document.getElementById('success');
  var $success_text = document.getElementById('success-text');
  var errorMap = {
    1: 'Unknown error, try again.',
    2: "Bad request error, try again." ,
    3: "This key isn't supported, please try another one.",
    4: 'The device is already registered, please register another device.',
    5: 'Authentication timed out. Please reload to try again.'
  };

  var setError = function(text) {
    $waiting.className += ' d-none';
    $error.className = $error.className.replace(/\bd-none\b/g, '');
    $error_text.innerHTML = text;
  };

  var setErrorCode = function(code) {
    setError(errorMap[code]);
  };

  var setSuccess = function(text) {
    $waiting.className += ' d-none';
    $success.className = $success.className.replace(/\bd-none\b/g, '');
    $success_text.innerHTML = text;
  };

  u2f.register(appId, registerRequests, signRequests, function(registerResponse) {
    var form, reg;

    if (registerResponse.errorCode) {
      return setErrorCode(registerResponse.errorCode);
    }

    form = $('#form-register')[0]
    response = $('#form-register [name=response]')[0];

    response.value = JSON.stringify(registerResponse);

    Rails.fire(form, 'submit');
  }, 15);
<% end -%>
