<h1> Settings</h1>
<%= form_tag({controller: "settings", action: "update"}, method: :post, class: "form") do |form| %>
  <table class="table table-striped">
    <tr>
      <td>Base</td>
      <td><input type="text" name="setting[idp_base]" class="form-control" value="<%= Setting.idp_base %>" /></td>
    </tr>
    <tr>
      <td>Enable User Registration</td>
      <td>
        <% # The hidden field below allows sending a false value if the checkbox is empty (false) %>
        <input type="hidden" name="setting[registration_enabled]" value="false" />
        <input type="checkbox" name="setting[registration_enabled]" class="form-control" <% if Setting.registration_enabled %>checked <% end %> value="true" />
      </td>
    </tr>
    <tr>
      <td>Expire User after inactivity</td>
      <td><input type="text" name="setting[expire_after]" class="form-control" value="<%= Setting.expire_after.parts[:days] if Setting.expire_after %>" placeholder="30" />
        <p class="small">Number of days after which a user should be deactivated. Empty disables this feature.</p></td>
    </tr>
    <tr>
      <td>User email is permanent</td>
      <td>
        <% # The hidden field below allows sending a false value if the checkbox is empty (false) %>
        <input type="hidden" name="setting[permanent_email]" value="false" />
        <input type="checkbox" name="setting[permanent_email]" class="form-control" <% if Setting.permanent_email %>checked <% end %> value="true" />
      </td>
    </tr>
    <tr>
      <td>Reset Password Within</td>
      <td><input type="text" name="setting[devise_reset_password_within]" class="form-control" value="<%= Setting.devise_reset_password_within.parts[:days] if Setting.devise_reset_password_within %>"/>
        <p class="small">How many days to allow a password reset token to be valid.</p></td>
    </tr>
    <tr>
      <td>Session Timeout</td>
      <td>
        <input type="text" name="setting[session_timeout_in]" class="form-control" value="<%= Setting.session_timeout_in.parts[:hours] if Setting.session_timeout_in %>"/>
        <p class="small">How many hours should an inactive session last. Empty disables this feature.</p>
      </td>
    </tr>
    <tr>
      <td>Enable Profiler for Admins</td>
      <td>
        <% # The hidden field below allows sending a false value if the checkbox is empty (false) %>
        <input type="hidden" name="setting[profiler_enabled]" value="false" />
        <input type="checkbox" name="setting[profiler_enabled]" class="form-control" <% if Setting.profiler_enabled %>checked <% end %> value="true" />
      </td>
    </tr>
  </table>
  <button class="btn btn-primary">Save</button>
<%- end %>
