<%= form_tag({controller: "settings", action: "update"}, method: :post, class: "form") do |form| %>
  <h3>SAML</h3>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>Session Timeout</td>
        <td>
          <input type="text" name="setting[saml_timeout]" class="form-control" value="<%= Setting.saml_timeout %>" />
          <p class="small">This configuration option is used to configure SAML's <code>SessionNotOnOrAfter</code> option and is a number of seconds. A timeout of zero means the SAML session won't time out.</p>
        </td>
      </tr>
      <tr>
        <td>Certificate</td>
        <td>
          <textarea name="setting[saml_certificate]" class="form-control"><%= Setting.saml_certificate %></textarea>
          <%- if Setting.saml_certificate.present? %>
            <%- cert = OpenSSL::X509::Certificate.new(Setting.saml_certificate) %>
            <p class="small">Certificate Fingerprint: <%= OpenSSL::Digest::SHA1.hexdigest(cert.to_der).scan(/../).join(':').upcase %></p>
          <%- end %>
        </td>
      </tr>

      <tr>
        <td>Key</td>
        <td>
          <textarea name="setting[saml_key]" class="form-control"><%= Setting.saml_key %></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary">Save</button>
<%- end %>
