<%= form_tag({controller: "settings", action: "update"}, method: :post, class: "form") do |form| %>
  <h1>Templates</h1>
  <div class="form-group">
    <label for="settings[dashboard_template]">Dashboard template</label>
    <textarea name="setting[dashboard_template]" class="form-control" ><%= Setting.dashboard_template %></textarea>
  </div>
  <div class="form-group">
    <label for="settings[registered_home_template]">Profile header template</label>
    <textarea name="setting[registered_home_template]" class="form-control" ><%= Setting.registered_home_template %></textarea>
  </div>
  <div class="form-group">
    <label for="settings[admin_reset_email_template]">Password reset email template</label>
    <textarea name="setting[admin_reset_email_template]" class="form-control" ><%= Setting.admin_reset_email_template %></textarea>
  </div>
  <div class="form-group">
    <label for="settings[admin_reset_email_template_plaintext]">Password reset plaintext email template</label>
    <textarea name="setting[admin_reset_email_template_plaintext]" class="form-control" ><%= Setting.admin_reset_email_template_plaintext %></textarea>
  </div>
  <div class="form-group">
    <label for="settings[admin_welcome_email_template]">Admin created user welcome template</label>
    <textarea name="setting[admin_welcome_email_template]" class="form-control" ><%= Setting.admin_welcome_email_template %></textarea>
  </div>
  <div class="form-group">
    <label for="settings[admin_welcome_email_template_plaintext]">Admin created user welcome plaintext template</label>
    <textarea name="setting[admin_welcome_email_template_plaintext]" class="form-control" ><%= Setting.admin_welcome_email_template_plaintext %></textarea>
  </div>
  <button class="btn btn-primary">Save</button>
<%- end %>
