<%= render  partial: 'profile/heading' %>

<div class="row">
  <div class="col-md-9 col-lg-10">
    <h2>Emails</h2>
    <div class="row">
      <div class="col-12">
        <h4>Add email address</h4>

        <%= bootstrap_form_for @email, url: profile_emails_path do |f| %>
          <% if @email.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

              <ul>
              <% @email.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="input-group">
            <%= f.email_field :address %>
          </div>
          <%= f.submit _('Save Changes'), class: 'btn btn-success', style: "float: left" %>
        <% end %>
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col-12">
        <h4>Linked Emails</h4>

        <table class="table table-striped">
          <tbody>
            <%- @emails.each do |email| %>
              <tr>
                <td><%= email.address %></td>
                <td>
                  <%- if email.confirmed? %>
                    <span class="btn btn-success">Verified</span>
                  <%- else %>
                  <span class="btn btn-warning">Unverified</span>
                  <%- end %>
                </td>
                <td class="text-right">
                  <%- if email.primary? %>
                    <span class="btn btn-success">Primary</span>
                  <%- else %>
                    <%- unless email.confirmed? %>
                        <%= link_to 'Resend confirmation email', profile_email_resend_confirmation_path(email), method: :post, class: "btn btn-warning"  %>
                    <%- end %>
                    <%= link_to fa_icon('trash-o', title: "Delete"), [:profile, email], method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%- end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
