<%= form_with(model: [:admin, model], local: true, class: 'form') do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% attributes = new_model ? new_fields : edit_fields %>
  <% attributes.each do |attribute| %>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <%= form.label attribute %>
        </div>
        <div class="col-sm-10">
          <%- if [true, false].include? model.send(attribute) %>
            <%= form.check_box attribute, class: 'form-check' %>
          <%- else %>
            <%= form.text_field attribute, class: 'form-control' %>
          <%- end %>
        </div>
      </div>
    </div>
  <%- end %>
  <%- form_relations.each do |relation_name, info| %>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <%= form.label relation_name %>
        </div>
        <div class="col-sm-10">
          <%= form.send(info[:type], relation_name, info[:finder].call, info[:options] || {}, (info[:html_options] || {}).merge({class: 'form-control'}) ) %>
        </div>
      </div>
    </div>
  <%- end %>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :roles %>
      </div>
      <div class="col-sm-10">
        <div>
          <%= form.check_box :manager %> Manager
        </div>
        <%- if current_user.admin? %>
          <div>
            <%= form.check_box :operator %> Operator
          </div><div>
            <%= form.check_box :admin %> Admin
          </div>
        <%- end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :groups %>
      </div>
      <div class="col-sm-10">
      <%= form.collection_check_boxes :permission_ids, Permission.all, :id, :name do |group| %>
        <div>
          <%= group.check_box %><%= group.label %>
        </div>
      <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :welcome_email %>
      </div>
      <div class="col-sm-10">
          <%= form.text_area :welcome_email, class: 'form-control' %>
      </div>
    </div>
    <%- unless new_model %>
    <hr />
    <p class="small">Preview refreshes after save.</p>
    <iframe class="col-sm-12" src="email" sandbox></iframe>
    <%- end %>
  </div>


  <div class="actions">
    <%= form.submit _('Update Group'), class: 'btn btn-success' %>
  </div>
<% end %>

<%- unless new_model %>
<div class="col-md-9 col-lg-10">
  <h2>Additional Properties</h2>
  <%= link_to "Manage Group Data Types", admin_custom_group_data_types_path, class: 'btn btn-info' %>
  <%= form_with(url: admin_group_custom_attributes_path(group_id: @model.id), local: true, class: 'form') do |f| %>
    <%- custom_groupdata = @model.custom_groupdata.includes([:custom_group_data_type]).group_by(&:custom_group_data_type_id) %>
    <%- CustomGroupDataType.all.each do |data_type| %>
      <%- custom_groupdatum = custom_groupdata[data_type.id].try(:first) || CustomGroupdatum.new(group: @model, custom_group_data_type: data_type) %>
      <%= render partial: 'custom_datum', locals: { data_type: data_type, custom_datum: custom_groupdatum, disabled: false } %>
    <%- end %>
    <hr />
    <%= f.submit _('Update Additional Properties'), class: 'btn btn-success' %>
  <%- end %>
</div>
<%- end %>
