<div class="col-md-9 col-lg-10" id="logs">
  <h2>
    Logs
  </h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date</th>
        <th>Response Status</th>
        <th>Duration</th>
        <th>Response Headers</th>
        <th>Response Data</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    <%- @model.web_hook_logs.each do |log| %>
      <tr>
        <td><%= localize(log.created_at, :format => :long) %></td>
        <td><%= log.response_status %></td>
        <td><%= ActiveSupport::Duration.build(log.execution_duration.seconds.round(3)).inspect %></td>
        <td><span title="<%= log.response_headers %>">Response Headers <%= fa_icon('info') %></span</td>
        <td><span title="<%= log.response_data %>">Response Data <%= fa_icon('info') %></span</td>
      </tr>
    <%- end %>
    </tbody>
  </table>
</div>