<%- if not new_model %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <Label>Password</Label>
      </div>
      <div class="col-sm-10">
        <%= link_to 'Reset Password', [:admin, model, :reset_password], method: :post, data: { confirm: 'Are you sure? Clicking reset multiple times will send multiple reset emails to the user.'}, class: "btn btn-warning"  %>
      </div>
    </div>
  </div>
<%- end %>
<%= form_with(model: [:admin, model], local: true, class: 'form') do |form| %>
  <% if model.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(model.errors.count, "error") %> prohibited this model from being saved:</h2>

      <ul>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :username %>
      </div>
      <div class="col-sm-10">
          <%= form.text_field :username, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :password %>
      </div>
      <div class="col-sm-10">
          <%= form.password_field :password, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :name %>
      </div>
      <div class="col-sm-10">
          <%= form.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :email %>
      </div>
      <div class="col-sm-10">
          <%= form.text_field :email, class: 'form-control' %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :expires_at %>
      </div>
      <div class="col-sm-10">
          <%= form.text_field :expires_at, class: 'form-control', placeholder: 'YYYY-MM-DD HH:MM:SS TZ' %>
          <a href='#' onclick="expire_now()">Now</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :last_activity_at %>
      </div>
      <div class="col-sm-10">
          <%= form.text_field :last_activity_at, class: 'form-control' %>
          <a href='#' onclick="clear_activity()">Reset</a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <%= form.label :groups %>
      </div>
      <div class="col-sm-10">
      <%= form.collection_check_boxes :group_ids, Group.all, :id, :name do |group| %>
        <div>
          <%= group.check_box %><%= group.label %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
    <%- form_relations.each do |relation_name, info| %>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2">
          <%= form.label relation_name %>
        </div>
        <div class="col-sm-10">
          <%= form.send(info[:type], relation_name, info[:finder].call, info[:options] || {}, (info[:html_options] || {}).merge({class: 'form-control'}) ) %>
        </div>
      </div>

  <%- end %>

  <div class="actions">
    <%= form.submit _('Update User'), class: 'btn btn-success' %>
  </div>
<% end %>
  <%- unless new_model %>
  <div class="col-md-9 col-lg-10">
    <h2>Additional Properties</h2>
    <%= link_to "Manage User Data Types", admin_custom_userdata_types_path, class: 'btn btn-info' %>
    <%= form_with(url: admin_user_custom_attributes_path(user_id: @model.id), local: true, class: 'form') do |f| %>
      <%- custom_userdata = current_user.custom_userdata.includes([:custom_userdata_type]).group_by(&:custom_userdata_type_id) %>
      <%- CustomUserdataType.all.each do |data_type| %>
        <%- custom_userdatum = custom_userdata[data_type.id].try(:first) || CustomUserdatum.new(user: current_user, custom_userdata_type: data_type) %>
        <%= render partial: 'custom_datum', locals: { data_type: data_type, custom_datum: custom_userdatum, disabled: false } %>
      <%- end %>
      <hr />
      <%= f.submit _('Save Changes'), class: 'btn btn-success' %>
    <%- end %>
  </div>
  <%- end %>

<script>

function expire_now() {
  $('#user_expires_at').val("<%= Time.now.utc %>");
}

function clear_activity() {
  $('#user_last_activity_at').val("");
}
</script>
