<%- if @model.expired? %>
  <div class="alert alert-warning" role="alert">
    <%= content_tag :div, "This user is expired" %>
  </div>
<%- end %>
<div class="col-sm-12">
  <%= form_with(model: [:admin, @model], local: true, class: 'form-inline') do |form| %>

    <%= link_to 'Reset Password', [:admin, @model, :reset_password], method: :post, data: { confirm: 'Are you sure? Clicking reset multiple times will send multiple reset emails to the user.'}, class: "btn btn-warning"  %>
    <%= render partial: 'toggle_user', locals: { model: @model, form: form } %>
  <%- end %>
</div>
<%- if @reset_token %>
  <%- url = edit_password_url(@model, reset_password_token: @reset_token) %>
  <div class="alert alert-info" role="alert">
    <%= content_tag :div do %>
      <p>This link will only be shown once!</p>
      <p>Password reset link: <%= url %></p>
    <%- end %>
  </div>
<%- end %>
