<div class="form-group">
  <%= label_tag(custom_userdatum.name, custom_userdatum.name) %>
  <%- case custom_userdatum.type %>
  <%- when 'boolean' %>
    <%= hidden_field_tag "custom_userdata[#{custom_userdatum.name}]", custom_userdatum.value || false %>
    <%= check_box_tag "custom_userdata[#{custom_userdatum.name}]", true, custom_userdatum.value, disabled: disabled %>
  <%- when 'array' %>
    <%= text_field_tag "custom_userdata[#{custom_userdatum.name}]", custom_userdatum.value.try(:join, '; '), disabled: disabled, class: 'form-control' %>
    <p class="small">Please separate multiple values with a semicolon (";")</p>
  <%- when 'integer' %>
    <%= number_field_tag "custom_userdata[#{custom_userdatum.name}]", custom_userdatum.value, disabled: disabled, class: 'form-control' %>
  <%- else %>
    <%= text_field_tag "custom_userdata[#{custom_userdatum.name}]", custom_userdatum.value, disabled: disabled, class: 'form-control' %>
  <%- end %>
</div>



