<div class="row">
  <img class="mr-4" src="<%= Setting.libravatar_url %>/avatar/<%= Digest::MD5.hexdigest current_user.email %>?d=identicon&s=100" />
  <div class="col-xs-10">
    <div class="row">
      <h1 class="flex justify-center"><%= current_user.name || current_user.username || current_user.email %></h1>
    </div>

    <div class="row">
      <ul class="list-unstyled small">
        <li>Profile created on <%= current_user.created_at.to_date %></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <%= render partial: 'profile/profile_nav' %>
</div>
