<div class='sudo-header'>
  <% if SudoRails.custom_logo %>
    <img src="<%= SudoRails.custom_logo %>">
  <% end %>

  <h2><%= t('sudo.page_header') %></h2>
</div>


<%= form_tag '/sudo_rails/confirm' do |f| %>
  <%= hidden_field_tag :locale, I18n.locale %>
  <%= hidden_field_tag :target_path, params[:target_path] || request.url %>
  <div class='form-group'>
    <%= password_field_tag :password, nil, required: true, placeholder: t('sudo.password') %>
  </div>
  <div class="actions form-group">
    <%= submit_tag t('sudo.button') %>
    <% unless SudoRails.sudo_session_duration.nil? %>
    <p class='small'>
      <%= t('sudo.tip', session_duration: time_ago_in_words(SudoRails.sudo_session_duration.ago)).html_safe %>
    </p>
  <% end %>
  </div>
<% end %>

<%= link_to t(".forgot_your_password"), new_password_path('user') %><br />

<%- resource_name = 'user' %>
<%- resource_params = params[resource_name].presence || params %>
<%- redirect_to = params.fetch(:redirect_to, nil) %>
<% if current_user.two_factor_otp_enabled? %>
  <hr />

  <div class='sudo-header'>
    <h2>Verify with One Time Code</h2>
  </div>
  <%= form_for(current_user, as: resource_name, url: '/sudo_rails/confirm', method: :post, html: { class: "edit_user gl-show-field-errors js-2fa-form" }) do |f| %>
    <%= hidden_field_tag :locale, I18n.locale %>
    <%= hidden_field_tag :target_path, params[:target_path] || request.url %>
    <div class="form-group">
      <%= f.label 'Two-Factor Authentication code', name: :otp_attempt %>
      <br />
      <%= f.text_field :otp_attempt, required: true, autofocus: true, autocomplete: 'one-time-code', title: 'This field is required.', data: { qa_selector: 'two_fa_code_field' }, inputmode: "numeric", pattern: "[0-9]*" %>
      <p class="form-text text-muted hint">Enter the code from the two-factor app on your mobile device. If you've lost your device, you may enter one of your recovery codes.</p>
      <div class="prepend-top-20">
        <%= f.submit "Verify code", class: "btn btn-primary", data: { qa_selector: 'verify_code_button' } %>
      </div>
    </div>
  <% end %>
<% end %>

<% if current_user.two_factor_u2f_enabled? %>
  <hr />

  <div class='sudo-header'>
    <h2>Verify with U2F</h2>
  </div>
  <h2>Authenticate key</h2>
  <button class="btn btn-success" onclick="enable_u2f()">Use security token</button>
  <p id="description" class="d-none">Please insert one of your registered keys and press the button within 15 seconds</p>
  <p id="waiting" class="d-none">Waiting...</p>
  <p id="error" class="d-none"></p>
  <%= form_tag '/sudo_rails/confirm', method: 'post' do %>
    <%= hidden_field_tag :locale, I18n.locale %>
    <%= hidden_field_tag :target_path, params[:target_path] || request.url %>
    <%= hidden_field_tag 'user[device_response]' %> %>
  <% end %>
  <%= javascript_tag nonce: true do -%>
    var appId = <%= @app_id.to_json.html_safe %>;
    var signRequests = <%= @sign_requests.to_json.html_safe %>;
    var challenge = <%= @challenge.to_json.html_safe %>;
    var $waiting = document.getElementById('waiting');
    var $error = document.getElementById('error');
    var errorMap = {
      1: 'Unknown error, try again',
      2: "Bad request error, try again" ,
      3: "This key isn't supported, please try another one",
      4: 'The device is is not registered, please register first.',
      5: 'Authentication timed out. Please reload to try again.'
    };
    var setError = function(code) {
      $waiting.className += ' d-none';
      $error.className = $error.className.replace(/\bd-none\b/g, '');
      $error.innerHTML = errorMap[code];
    };
    function enable_u2f(){
      $waiting.className -= ' d-none';
      document.getElementById('description').className -= ' d-none';
      u2f.sign(appId, challenge, signRequests, function(signResponse) {
        var form, reg;

        if (signResponse.errorCode) {
          return setError(signResponse.errorCode);
        }

        form = document.forms[<%= current_user.two_factor_otp_enabled? ? 1 : 0 %>];
        response = document.querySelector('[name="user[device_response]"]');

        response.value = JSON.stringify(signResponse);

        form.submit();
      }, 15);
    }
  <% end -%>
<% end -%>
