<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%- if content_for(:title) %>
        <%= content_for(:title) %>
      <%- else %>
        Admin
      <%- end %> |
      <%= Setting.html_title_base %>
    </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="icon" type="image/ico" href="<%= image_path(Setting.favicon) %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag 'admin', media: 'all' %>
  </head>
  <body>
    <%= render 'layouts/navigation' %>
    <%= render partial: 'layouts/admin_nav' %>
    <div class="all-container">
      <main role="main">
        <div class="row">
          <div class="col-12">
            <%= render 'layouts/messages' %>
            <div class="container-fluid">
              <%= yield %>
            </div>
            <div class="mb-5"></div>
          </div>
        </div>
      </main>
      <%- if EyedP::Application::GIT_SHA %>
        <footer class="bg-light text-center text-lg-start">
          <!-- Git Hash -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Deployed version of EyeDP: <%= link_to EyedP::Application::GIT_SHA[0..7], "https://github.com/CentauriSolutions/EyeDP/commit/#{EyedP::Application::GIT_SHA[0..7]}" %>
            <br />
            Compare to <%= link_to 'latest', "https://github.com/CentauriSolutions/EyeDP/compare/#{EyedP::Application::GIT_SHA[0..7]}...main" %>
          </div>
          <!-- END Git Hash -->
        </footer>
      <%- end %>

      <a href="#" data-hotkey="Shift+?" data-toggle="modal" data-target="#hotkey-modal"></a>
      <div class="modal" tabindex="-1" role="dialog" id="hotkey-modal">
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Keyboard Shortcuts</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <%= render partial: 'hotkey_section', locals: { name: 'Objects', hotkeys: [{name: 'Go to New', hotkey: 'n' }]} %>
                <%= render partial: 'hotkey_section', locals: { name: 'Admin wide shortcuts', hotkeys: [{ name: 'Bring up this help dialog', hotkey: '?' }, { name: 'Go to Users', hotkey: 'u' }, { name: 'Go to Groups', hotkey: 'g' }]} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= javascript_include_tag 'application' %>
    <script type="module">
      import {install} from '<%= javascript_path 'admin' %>';

      for (const el of document.querySelectorAll('[data-hotkey]')) {
        install(el)
      }
    </script>
    <%= javascript_include_tag 'admin', type: 'module' %>
    <%= javascript_include_tag 'graphs' %>
    <%= yield :end_html %>
    <%= yield :local_js %>
  </body>
</html>
