<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%- if content_for(:title) %>
        <%= content_for(:title) %>
      <%- else %>
        Admin
      <%- end %> |
      <%= Setting.html_title_base %>
    </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'peek/bar' %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="row">
        <div class="col-12 col-md-3">
          <%= render partial: 'layouts/admin_nav' %>
        </div>
        <div class="col-12 col-md-9" %>
          <%= render 'layouts/messages' %>
          <%= yield %>
          <div class="mb-5"></div>
        </div>
      </div>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= yield :charts_js %>
    <%= javascript_tag "$('#peek').parent().addClass('peek-enabled');" %>
  </body>
</html>
