<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%- if content_for(:title) %>
        <%= content_for(:title) %>
      <%- else %>
        Admin
      <%- end %> |
      <%= Setting.html_title_base %>
    </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="row">
        <div class="col-12 col-md-3">
          <%= render partial: 'layouts/admin_nav' %>
        </div>
        <div class="col-12 col-md-9" %>
          <%= render 'layouts/messages' %>
          <%= yield %>
          <div class="mb-5"></div>
        </div>
      </div>
    </main>
    <footer class="bg-light text-center text-lg-start">
      <!-- Git Hash -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Deployed version of EyeDP: <%= link_to EyedP::Application::GIT_SHA[0..7], "https://github.com/CentauriSolutions/EyeDP/commit/#{EyedP::Application::GIT_SHA}" %>
        <br />
        Compare to <%= link_to 'latest', "https://github.com/CentauriSolutions/EyeDP/compare/#{EyedP::Application::GIT_SHA}...master" %>
      </div>
      <!-- END Git Hash -->
    </footer>
    <%= javascript_include_tag 'application' %>
    <%= yield :charts_js %>
  </body>
</html>
