<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%- if content_for(:title) %>
        <%= content_for(:title) %> |
      <%- end %>
      <%= Setting.html_title_base %>
    </title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
    <%= render 'peek/bar' if peek_enabled? %>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
      <div class="container-fluid">
        <%= render 'layouts/messages' %>
        <%= yield %>
      </div>
    </main>
    <%= javascript_include_tag 'application' %>
    <%= yield :charts_js %>
  </body>
</html>
